{deps, []}.
{erl_opts, [debug_info]}.
{cover_enabled, true}.

{plugins, [pc, rebar3_lint]}.

{port_specs, [
    {"priv/iguana_nif_accelerator.so", ["src/c/iguana_nif_accelerator.c"]},
    {"priv/iguana_nif_accelerator.dll", ["src/c/iguana_nif_accelerator.c"]}
]}.

{port_env, [
    {"(linux|darwin|solaris)", "CFLAGS", "$CFLAGS -O3 -march=native -ffast-math"},
    {"(linux|darwin|solaris)", "LDFLAGS", "$LDFLAGS -lm -lmvec"},
    {"win32", "CFLAGS", "$CFLAGS /O2"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make"},
   {"(linux|darwin|solaris)", eunit, "make"},
   {"(linux|darwin|solaris)", ct, "make"}]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling, underspecs]},
    {get_warnings, true},
    {plt_apps, top_level_deps},
    {plt_extra_apps, [erts, kernel, stdlib]}
]}.
